$primarygray: #312727;
$mobile: 600px;
$tablet: 900px;

* {
  font-family: 'Helvetica', sans-serif;
  background-color: #e7d5ff;
}

// * NavBar

.primary-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  @media screen and (max-width:$mobile) {
    margin: 0px 0px 20px 0px;
    flex-direction: column;
  }
  button {
    font-size: 14px;
    text-transform: uppercase;
    background-color: blue;
    color: white;
    padding: 6px 14px 6px;
    border: none;
    border-radius: 50px;
    margin: 10px 5px;
    cursor: pointer;
    border: 1px solid blue;
    &:hover {
      background-color: white;
      color: blue;
    }
    @media screen and (max-width:$mobile) {
      font-size: 12px;
      margin: 0px;
      width: 700px;
      overflow: hidden;
      background-color: white;
      color: blue;
      border-bottom: 1px solid blue;
      border-top: none;
      padding: 10px 14px 10px;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.nav-mobile {
  @media screen and (max-width:$mobile) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

// * Homepage

.featured-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 10px;
}

.video-primary-homepage {
  video {
  border-right: 1px solid blue;
  border-left: 1px solid blue;
  border-bottom: 1px solid blue;
  width: 800px;
  @media screen and (max-width:$tablet) {
    width: 500px;
  }
  @media screen and (max-width:$mobile) {
    width: 350px;
    border: none;
    margin: 20px 0px 0px;
  }
  }
}

.web-display-bar {
  height: 30px;
  border: 1px solid blue;
  background-color: white;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width:$tablet) {
    width: 500px;
  }
  @media screen and (max-width:$mobile) {
    display: none;
  }
}

.dots-display {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 25px;
  margin: 0px 3px;
}

.dots-display-hidden {
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 25px;
  margin: 0px 3px;
  visibility: hidden;
}

.web-display-controls {
  display: flex;
  margin: 0px 5px;
  background-color: white;
}

.website-bar {
  border: 1px solid blue;
  background-color: white;
}

.website-bar p {
  font-size: 11px;
  margin: 4px 100px;
  color: blue;
  background-color: white;
}

.primary-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 20px;
  p {
    font-size: 13px;
  }
  a {
    color: black;
  }
}

button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: blue;
  color: white;
  padding: 6px 14px 6px;
  border: none;
  border-radius: 50px;
  margin: 10px 5px;
  cursor: pointer;
  border: 1px solid blue;
  &:hover {
    background-color: white;
    color: blue;
  }
}

a {
  color: white;
  text-decoration: none;
}

#primary-created-at {
  margin: 0px;
  color: black;
}

#primary-link p {
  margin: 4px 0px 8px 0px;
  color: blue;
}

#primary-description {
  width: 60%;
  text-align: center;
  color: black;
}

#primary-credits {
  margin: 8px 0px 0px 0px;
  text-transform: uppercase;
  color: black;
  width: 70%;
  text-align: center;
}

.project-description {
  width: 280px;
  text-align: left;
  font-size: 13px;
}

.project-website {
  text-align: left;
  font-size: 13px;
}

.projects-we-love {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.projects-we-love-title {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.projects-we-love-single {
  margin: 15px;
  a {
    color: blue;
  }
}

.browse-archive {
  margin: 0px 0px 40px;
  display: flex;
  justify-content: center;
  @media screen and (max-width:$mobile) {
    margin: 0px 0px 20px;
  }
}

// * Index Page

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  input {
    border: 1px solid blue;
    border-radius: 25px;
    padding: 8px 14px 4px;
    text-transform: uppercase;
    color: blue;
    &::placeholder {
      color: blue;
    }
  }
}

// * Show Page

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
  p {
    margin: 0px;
    background-color: transparent;
  }
}

.show-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 0px;
  p {
    font-size: 13px;
  }
  a {
    color: black;
  }
}

// * Comments 

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  textarea {
    width: 400px;
    border: 1px solid blue;
    &::placeholder {
      color: black;
      font-size: 14px;
    }
  }
  form {
    text-align: center;
  }
  button {
    margin: 30px 0px 10px;
  }
}

.index-info {
  border-top: 1px solid blue;
  margin: 20px 0px;
}

.user-and-time-comments {
  margin: 30px 0px 0px 0px;
  display: flex;
}

.user-comments {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 5px 0px 0px;
  color: black;
}

.date-comments {
  font-size: 14px;
  margin: 0px 5px 0px 0px;
  color: black;
}

.comment-text {
  font-size: 14px;
}

//  * Add, Edit, Login and Registration pages

.form {
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px;
  .form-div {
    border: 1px solid blue;
    padding: 40px 80px;
    font-size: 14px;
    text-align: left;
    background-color: white;
    @media screen and (max-width:$mobile) {
      padding: 40px 20px;
    }
  }
  input {
    padding: 3px 5px;
    margin: 10px 0px;
    width: 300px;
    border: 1px solid blue;
    background-color: white;
  }
  textarea {
    width: 300px;
    margin: 10px 0px;
    padding: 3px 5px;
    font-size: 14px;
    border: 1px solid blue;
    background-color: white;
  }
  label {
    background-color: white;
  }
  form {
    background-color: white;
  }
}

.form-field {
  background-color: white;
}

.form-title {
  text-align: center;
  margin: 0px 0px 40px;
  font-size: 15px;
  background-color: white;
}

.error {
  font-size: 13px;
  margin: 0px 0px 10px 0px;
  color: blue;
  background-color: white;
}

#category {
  margin: 10px 0px 0px;
  border: 1px solid blue;
}

.submit-button {
  text-align: center;
  margin: 20px 0px 0px;
}

.auth-para {
  background-color: white;
  margin: 0px;
  text-align: center;
  p {
    background-color: white;
    margin: 0px;
  }
}

.auth-link {
  color: blue;
  background-color: white;
}

// * About Page

.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  @media screen and (max-width:$mobile) {
    height: 60vh;
  }
  a {
    color: blue;
  }
}

.about-para {
  width: 600px;
  font-size: 14px;
  text-align: center;
  @media screen and (max-width:$tablet) {
    width: 400px;
  }
  @media screen and (max-width:$mobile) {
    width: 300px;
  }
}

